body{
    background-color: #FFFFC2;
    background-attachment: fixed;
    margin: 0px;

}


ul{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(58, 57, 57);
    margin: 0;
    padding: 0;
    position: static;
    
    
}
li{
    float: left;
    margin-top: 0;

}
li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    text-align: center;
    margin: 8px;
    padding: 5px;
    font-size: large;
    font-weight: 800;
}
li a:hover{
    background-color: red;
}

h1{
    background-color: #F1E5D5;
    text-align: center;
    color:#29381A ;
    margin-top: 0;
    margin-bottom: 0;
    padding:14px 16px;
    font-family: 'Tilt Neon', sans-serif;
}
h2{
    font-family: 'Lobster',sans-serif;
    color:#29381A;
    text-align: center;
    
}
h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(21, 38, 49);
}
h4{
    color: rgb(21, 38, 49);
    font-size: 1rem;
    font-family:Verdana,sans-serif ;
}
h5{
    color:#29381A;
    font-size: 30px;
}

.bdy{
    background-image: url(./scl.png);
}
#school{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    
}
    
#school1{
    display:flex;
    width: 100%;
  
}
.bdimg{
    border: none;
    border-radius: 5px;
    width:100%;
    height: 300px;
    margin: 6px;
    

}
#principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    
    
}
#principal1{
    display:flex;
}

#about{
    margin-top: 0px;
    background-color: #FFFFC2;
    padding: 15px;
}
table, th, tr, td {
    border: 2px solid white;
    border-collapse: collapse;
    width: 600px;
    height: auto;
    text-align: center;

}
table{
    display: contents;
    align-items: center;
}
tr:nth-child(even){
    background-color: aqua;
}
tr:nth-child(odd){
    background-color: chartreuse;
}
th{ font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: crimson;
    color: beige;
}
#gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    background-color: #052644;
    color:#F9FCFF;
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    height: 5rem;
}
address{
    color: #29381A;
    font-size: larger;
    margin-top: 0px;
    margin-left: 50px;
}