@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Source+Serif+4:opsz,wght@8..60,800&display=swap');

/*! Removing default margin*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FFFFE9;
    text-align: center;
}

/*! Styles for heading */
.main-heading{
    font-family:  'Source Serif 4', serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main-heading-2{
    font-family:  'Source Serif 4', serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.sub-heading{
    font-family: "Lato";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text{
    color: #000;
    text-align: center;
    font-family: "Lato";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav{
    display: inline-flex;
    align-items: flex-start;
    gap: 52px;
    margin: 35px;
}

a{
    text-decoration: none;
    color: #000;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active{
    color: #000;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-up{
    width: 100%;
    height: 53px;
    flex-shrink: 0;
    background: #CBCDA9;
}